body {
  margin: 0;
  font-family: 'Inter',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.items-center{
  align-items: center;
}
.flex{
  display: flex;
}
.width-100{
  width: 100vw;
}
.flex-col{
  flex-direction: column;
}
a{
  text-decoration: none;
  color: black;
}
*{
  box-sizing: border-box;
}